*{
    margin: 0px;
    padding: 0px;
}
.nav{
    height: 60px;
    padding: auto;
    margin: auto;
    background-color: rgb(252, 252, 255);
}
.nav ul{
    max-width: 90%;
    padding: auto;
    margin: auto;
    display: flex;
    text-decoration: none;
    justify-content:space-between;
}
.nav ul li{
    padding-top: 22px;
    text-decoration: none;
    display: flex;
    text-align: right;
    margin-left: 150px;
    color: #06eefe;
    

}
.nav ul li a{
    text-decoration: none;
    color: #06d1ff;
}
#image1{
    display: flex;
    height: 60px;
    border-radius: 15%;
    
}
.logo-text{
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    font-weight: 900;
    color: #3710ab;
}
.auth{
   margin-right: 5px;
}
body{
    background-color: rgb(162, 220, 254);
}
.header{
    margin-top: 20px;
    margin-bottom: 40px;
    font-size: 2.5rem;
    text-align: center;
    font-weight: 900;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(10, 18, 244);
   
    
}
.hero p{
    font-size: 2rem;
    font-weight: 400;
    margin-left: 100px;
    padding-top: 0px;
    padding-bottom: 20px;
    margin-bottom: 50px;
    color: rgb(6, 23, 152);
}
.image{
    height: 600px;
}
#image2{
    height: 400px;
    width: 1455px;
    margin-left: 30px;
    margin-right: 30px;
    border-radius: 10%;
    border: solid 1px rgb(4, 253, 66);
    box-shadow: #0734e8;
}
.about{
    font-size: 1.8rem;
    max-width: 90%;
    margin: auto;
    padding: auto;
    margin-bottom: 30px;
}
.about p{
    color: rgb(28, 8, 243);
    padding-top: 10px;
}
.contact{
    font-size: 1.8rem;
    max-width: 90%;
    margin: auto;
    padding: auto;
}
.contact p{
    color: rgb(47, 8, 243);
    padding-top: 10px;
}


footer {
    background-color: var(--primary-color);
    color: white;
    text-align: center;
    padding: 1rem;
    margin-top: 2rem;
}

.footer {
        background-color: #333;
        color: #ffffff;
       
        padding: 15px;
        margin-top: 30px;
        font-size: 0.9em;
}
.footer ul{
    display: flex;
    text-decoration: none;
    justify-content: right;
    justify-content:space-around;
    
}
.footer ul li{
    display: flex;
    
}
    
 .footer p {
        padding-left: 100px;
 }